---
title: Complete File List
layout: default
---
<ul class="nav nav-tabs" id="drs-tabs">
	<li class="active" id="tab-all"><a href="#">All</a></li>
	{% for tag in site.tags | sort %}<li id="tab-{{ tag | first }}"><a href="#{{ tag | first }}">{{ tag | first | capitalize }}</a></li>{% endfor %}
</ul>
<table class="table table-hover">
	<tbody>
{% for post in site.posts reversed %}{% unless post.draft %}
		<tr class="drs-entry-row{% for tag in post.tags %} tag-{{tag}}{% endfor %}">
			<td><img class="img-polaroid" src="/images/thumbnail/{{ post.slug}}-64sq.png" alt="{{post.slug}} thumbnail" /></a>{{post.draft}}</td>
			<td style="vertical-align:middle;"><a href="{{ post.url }}">{{ post.title }}</a></td>
			<td class="muted" style="vertical-align:middle;">{% for tag in post.tags %}{{tag}} {% endfor %}</a></td>
			<td class="muted" style="vertical-align:middle;">{{ post.date | date: "%Y" }}</a></td>
		</tr>
{% endunless %}{% endfor %}
	</tbody>
</table>
<script type="text/javascript">

	function switchTabs()
	{
		$("#drs-tabs > li").removeClass("active");
		var hash = window.location.hash;
		if (!hash || hash == '#')
		{
			$(".drs-entry-row").show();
			$("#tab-all").addClass("active");
		}
		else
		{
			console.log(hash.substring(1));
			$(".drs-entry-row").hide();
			$(".tag-" + hash.substring(1)).show();
			$("#tab-" + hash.substring(1)).addClass("active");
		}
	}

	$(document).ready(function() {

		$("tr.drs-entry-row").click(function() {
			var elem = $("a", $(this))[0];
			elem.click();
		});

		switchTabs();

		$(window).bind('hashchange', switchTabs);
	});

</script>

