---
title: One Small Step
layout: default
slug: smallstep
tags: audio
---
{% include navpost.html %}
<div class="row-fluid">
	<div class="span12">
		<div class="span5">
			Neil Armstrong's famous quote upon landing on the moon: &ldquo;That's one small step for man; one giant leap for mankind.&rdquo;
			<br/>{% include audioplayer.html %}
			<div class="span12" id="drs-download"></div>
		</div>
		<div class="span7 text-right">
			<img alt="thumbnail" class="img-polaroid" src="/images/thumbnail/{{ page.slug }}-512w.png" />
		</div>
	</div>
</div>
{% include postmeta.html %}
