---
title: First Names
layout: default
slug: firstnames
tag: audio
---
{% include navpost.html %}
<div class="row-fluid">
	<div class="span12">
		<div class="span8">
			This was recorded at the dinner table while experimenting with a new iPhone.  Not the most profound, but at least I have the full rights to it.
			<div class="span12" id="drs-download"></div>
		</div>
		<div class="span4 text-right">
			<img alt="thumbnail" class="img-polaroid" src="/images/thumbnail/{{ page.slug }}-256w.png" />
		</div>
	</div>
</div>
{% include postmeta.html %}
