---
title: Isaac Newton's Opticks
layout: default
slug: opticks
tags: ['document']
---
<%= render 'navpost' %>
<div class="row">
	<div class="col-md-6">
		Opticks: or, A treatise of the reflexions, refractions, inflexions and colours of light. Also two treatises of the species and magnitude of curvilinear figures by Sir Isaac Newton, Isaac
		<div class="col-md-12" id="drs-download"></div>
	</div>
	<div class="col-md-6">
		<a href="/files/zoom.html?<%=h item[:slug] %>"><img alt="thumbnail" class="img-thumbnail" src="/images/thumbnail/<%=h item[:slug] %>-512w.png" /></a>
	</div>
</div>
<%= render 'postmeta' %>
