---
title: Gettysburg Address
layout: default
slug: gettysburg
tags: ['text']
---
<%= render 'navpost' %>
<div class="row">
	<div class="col-md-6">
		The original copy was destroyed by fire.  This text is transcribed from the Bliss copy.
		<div class="col-md-12" id="drs-download"></div>
	</div>
	<div class="col-md-6">
		<a href="/files/zoom.html?<%=h item[:slug] %>"><img alt="thumbnail" class="img-thumbnail" src="/images/thumbnail/<%=h item[:slug] %>-512w.png" /></a>
	</div>
</div>
<%= render 'postmeta' %>
