---
title: One Small Step
layout: default
slug: smallstep
tags: ['audio']
---
<%= render 'navpost' %>
<div class="row">
	<div class="col-md-5">
		Neil Armstrong's famous quote upon landing on the moon: &ldquo;That's one small step for man; one giant leap for mankind.&rdquo;
		<br/><%= render 'audioplayer' %>
		<div class="col-md-12" id="drs-download"></div>
	</div>
	<div class="span7 text-right">
		<img alt="thumbnail" class="img-thumbnail" src="/images/thumbnail/<%=h item[:slug] %>-512w.png" />
	</div>
</div>
<%= render 'postmeta' %>
