---
title: Adult School
layout: default
slug: adultschool
tags: ['raster']
---
<%= render 'navpost' %>
<div class="row">
	<div class="col-md-5">
		This is the original image that made me start <a href="http://www.fileformat.info/">FileFormat.Info</a>.  It is an original artwork made by my wife before I met her.
		She created it with a very early (?1.0?) version of PhotoShop for the Apple Macintosh.
		By the time we wanted to get the original file, the Mac was been long dead and all we had were SyQuest disks.  With great difficulty I managed to
		get it off the SyQuest disks, but then the current version of PhotoShop would not open it.
		<div class="col-md-12" id="drs-download"></div>
	</div>
	<div class="col-md-7 text-right">
		<a href="/files/zoom.html?<%=h item[:slug] %>"><img alt="thumbnail" class="img-thumbnail" src="/images/thumbnail/<%=h item[:slug] %>-512w.png" /></a>
	</div>
</div>
<%= render 'postmeta' %>
