---
title: First Names
layout: default
slug: firstnames
tags: ['audio']
---
<%= render 'navpost' %>
<div class="row">
	<div class="col-md-8">
		This was recorded at the dinner table while experimenting with a new iPhone.  Not the most profound, but at least I have the full rights to it.
		<br/><%= render 'audioplayer' %>
		<div class="col-md-12" id="drs-download"></div>
	</div>
	<div class="col-md-4 text-right">
		<img alt="thumbnail" class="img-thumbnail" src="/images/thumbnail/<%=h item[:slug] %>-256w.png" />
	</div>
</div>
<%= render 'postmeta' %>
