---
title: English Accent Elicitation Paragraph
layout: default
slug: accent
tags: ['audio']
---
<%= render 'navpost' %>
<div class="row">
	<div class="col-md-6">
		<p>This is the elicitation paragraph used by Steven Weinberger's <a href="http://accent.gmu.edu/">Speech Accent Archive</a> at George Mason University.
		This recording was read by Quinn, an 8 year old boy who lives outside Philadelphia, Pennsylvania, USA.</p>
		<p>The paragraph is:</p>
		<blockquote>
		Please call Stella.  Ask her to bring these things with her from the store:  Six spoons of fresh snow peas, five thick slabs of blue cheese, and maybe a snack for her brother Bob.  We also need a small plastic snake and a big toy frog for the kids.  She can scoop these things into three red bags, and we will go meet her Wednesday at the train station.
		</blockquote>
		<br/><%= render 'audioplayer' %>
		<div class="col-md-12" id="drs-download"></div>
	</div>
	<div class="col-md-6">
		<img alt="thumbnail" class="img-thumbnail" src="/images/thumbnail/<%=h item[:slug] %>-512w.png" />
	</div>
</div>
<%= render 'postmeta' %>
