---
title: Complete File List
layout: default
---
<ul class="nav nav-tabs" id="drs-tabs">
	<li class="active" id="tab-all"><a href="#">All</a></li>
	<% tag_set.sort.each do |tag| %>
	<li id="tab-<%=h tag%>"><a href="#<%= tag %>"><%= tag[0..0].upcase%><%= tag[1..-1] %></a></li>
	<% end %>
</ul>
<table class="table table-hover">
	<tbody>
<%
	@sortedItems = @items.select { |x| !x[:draft] and x[:tags] }
	@sortedItems.sort! { |a,b| a[:filename] <=> b[:filename] }
	for theItem in @sortedItems do
		if theItem[:draft]
			next
		end
		if !theItem[:tags]
			next
		end
%>
		<tr class="drs-entry-row<% for tag in theItem[:tags] %> tag-<%=tag%><% end %>">
			<td><img class="img-thumbnail" src="/images/thumbnail/<%= theItem[:slug]%>-64sq.png" alt="<%= theItem[:slug]%> thumbnail" /></a><%= theItem[:draft]%></td>
			<td style="vertical-align:middle;"><a href="<%=theItem.identifier%>"><%= theItem[:title]%></a></td>
			<td class="muted" style="vertical-align:middle;"><% for tag in theItem[:tags].sort do %><%=h tag%><% end %></a></td>
			<td class="muted" style="vertical-align:middle;"><%= theItem[:filename][15..18] %></a></td>
		</tr>
<% end %>
	</tbody>
</table>
<script type="text/javascript">

	function switchTabs()
	{
		$("#drs-tabs > li").removeClass("active");
		var hash = window.location.hash;
		if (!hash || hash == '#')
		{
			$(".drs-entry-row").show();
			$("#tab-all").addClass("active");
		}
		else
		{
			console.log(hash.substring(1));
			$(".drs-entry-row").hide();
			$(".tag-" + hash.substring(1)).show();
			$("#tab-" + hash.substring(1)).addClass("active");
		}
	}

	$(document).ready(function() {

		$("tr.drs-entry-row").click(function() {
			var elem = $("a", $(this))[0];
			elem.click();
		});

		switchTabs();

		$(window).bind('hashchange', switchTabs);
	});

</script>

