<meta name="google-site-verification" content="yE4nsRE5eUYG_Ahhgh-UuM4mA4pakFdTF2jR-xj9WXo" />
<meta name="msvalidate.01" content="E90DBA4A9D3D37F1056E64E5604A7A0D" />
<meta name="alexaVerifyID" content="5dH0v0TGBNuSDIqNiywb8Gm0Mg0" />
<link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png" />
<link href="/favicon.ico" rel="shortcut icon" />

