<div class="row-fluid">
	<div class="span12" style="vertical-align:middle;">
		<div class="pull-right">
			<a class="btn btn-small {% unless page.previous %}disabled{% endunless %}" href="{% if page.previous %}{{ page.previous.url }}{% endif %}"{% unless page.previous %} onclick="return false;"{% endunless %}><small><i class="icon-chevron-left"></i></small> Previous</a>
			<a class="btn btn-small {% unless page.next %}disabled{% endunless %}" href="{% if page.next %}{{ page.next.url }}{% endif %}"{% unless page.next %} onclick="return false;"{% endunless %}>Next <small><i class="icon-chevron-right"></i></small></a>
		</div>
		<h3>{{ page.title }}</h3>
		{% if page.draft %}<div class="alert alert-warning alert-block"><h4>Draft</h4>
		This entry is incomplete, unlicensed, or otherwise not ready for use.
		</div>{% endif %}
	</div>
</div>

